<!-- Contact -->
<section id="contact">
	<div class="inner">
			<section>
				<div class="contact-method">
					<span class="icon alt fa-phone"></span>
					<h3>Phone</h3>
					<span>
						{{ site.phone }} <br /> 
						{{ site.phone2 }}
					</span>
					
				</div>
				<div class="contact-method">
					<span class="icon alt fa-home"></span>
					<h3>Address</h3>
					<span>
					{% if site.street_address %}
					    {{ site.street_address }}<br />
					{% endif %}
					{% if site.city %}
					    {{ site.city }},
					{% endif %}
					{% if site.state %}
					    {{ site.state }} 
					{% endif %}
					{% if site.zip_code %}
					    {{ site.zip_code }}<br />
					{% endif %}
					{% if site.country %}
					    {{ site.country }}
					{% endif %}
					</span>
				</div>
			</section>
			<section>
				<div>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2593.2013539235295!2d11.09770131569581!3d49.461809979351266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479f579463125539%3A0x3752aade544fead2!2sChina-Thai+Restaurant+Do!5e0!3m2!1sde!2sde!4v1551099879545" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</section>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{% if site.googleplus_url %}
				<li><a href="{{ site.googleplus_url }}" class="icon alt fa-google" target="_blank"><span class="label">Google+</span></a></li>
				{% endif %}
				{% if site.facebook_url %}
				<li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.tripadvisor_url %}
				<li><a href="{{ site.tripadvisor_url }}" class="icon alt fa-tripadvisor" target="_blank"><span class="label">Tripadvisor</span></a></li>
				{% endif %}
				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
			</ul>
			<ul class="copyright">
				<li>&copy; {{ site.title }} </li>
				<li>designed and managed by: <a href="https://longpdo.github.io/online-cv/" target="_blank">Long Do</a></li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
